.expense-form-container {
  margin: auto;
  width: 30%;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.expense-list-container {
  margin: auto;
  width: 60%;
}

th {
  text-align: center;
}

h2 {
  text-align: center;
  padding: 1rem;
}
