.income-form-container {
  margin: auto;
  width: 30%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.income-list-container {
  margin: auto;
  margin-bottom: 2rem;
  width: 60%;
}

th {
  text-align: center;
}

h2 {
  text-align: center;
  padding: 1rem;
}
