body {
    background-color:aliceblue;
}
.h1, h1 {
    font-size: 2.5rem;
}

fieldset {
    width: 20rem;
    min-width: 0;
    padding: .5 0;
    margin: 0;
    border: 0;
}

.form--login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh; 
}

.container--login {
    text-align: left;
}

.link--register {
    text-align: center;
    margin-top:-12rem;
}
